<input type='text' class='title' ng-model='info.title'>
<input type='text' class='name' ng-model='info.name'>
<div class='center links'>
  <div class='links1'>
    <div class='link'>
      <i class='icon-rss'></i>
      <input type='text' ng-model='info.blogLink' placeholder='personal website'>
    </div>
    <div class='link'>
      <i class='icon-envelope'></i>
      <input type='email' ng-model='info.email' placeholder='email'>
    </div>
  </div>
  <div class='links2'>
    <div class='link'>
      <i class='icon-github'></i>
      <input type='text' ng-model='info.gitHubLink' placeholder='github profile url'>
    </div>
    <div class='link'>
      <i class='icon-linkedin-sign'></i>
      <input type='text 'ng-model='info.linkedInLink' placeholder='linkedin profile url'>
    </div>
  </div>
</div>
<div class='menu-save-button-container'>
  <button class='pure-button pure-button-primary menu-save-button'  ng-class='{success: updateSuccess}' ng-click='save()'>save menu</button>
</div>
