<div class='project-back' ng-click='go("/admin")'>
  <i class='left-arrow icon-angle-left'></i>
  <div class='back-nav-text'>Projects</div>
</div>
<form ng-submit='save()'>
  <div ng-if='project' class='project-view editing'>
    <input type='submit' class='pure-button pure-button-primary project-save-button' ng-class='{success: updateSuccess}' value='save'>
    <!-- project title and image -->
    <input type='text' class='project-title' ng-model='project.title' placeholder='Title' required>
    <div class='project-image-container'>
      <img class='project-image' src='/img/projects/1-wide.png'>
      <input type='text' class='project-desc' ng-model='project.desc' placeholder='Short description'>
    </div>
    <!-- project links -->
    <div class='pure-g-r project-links'>
      <div class='pure-u-1-3'>
        <div ng-if='project.pubLink' class='project-link'>
          <i class='icon-external-link'></i>
          <input type='text' ng-model='project.pubLink'>
        </div>
      </div>
      <div class='pure-u-1-3'>
        <div ng-if='project.blogLink' class='project-link'>
          <i class='icon-rss'></i>
          <input type='text' ng-model='project.blogLink'>
        </div>
      </div>
      <div class='pure-u-1-3'>
        <div ng-if='project.gitHubLink' class='project-link'>
          <i class='icon-github'></i>
          <input type='text' ng-model='project.gitHubLink'>
        </div>
      </div>
    </div>
    <h3 class='project-info-header'>About</h3>
    <div class='project-about'>
      <textarea class='project-about-input' ng-model='project.about' placeholder='About'></textarea>
    </div>
    <!-- project key features -->
    <h3 class='project-info-header'>Key Features</h3>
    <a class='pure-button pure-button-small pure-button-success' ng-click='addFeature()'>add</a>
    <br>
    <div ng-repeat='feature in project.features'>
      <label class='pure-button pure-button-remove pure-button-remove-small' ng-click='removeFeature(feature)'>
        <i class='icon-remove'></i>
      </label>
      <input type='text' class='project-feature-input' ng-model='feature.value'>
    </div>
    <!-- project technologies -->
    <h3 class='project-info-header'>Technologies used</h3>
    <a class='pure-button pure-button-small pure-button-success' ng-click='addTech()'>add</a>
    <br>
    <div class='project-technologies'>
      <div ng-repeat='tech in project.technologies'>
        <label class='pure-button pure-button-remove pure-button-remove-small ' ng-click='removeTech(tech)'>
          <i class='icon-remove'></i>
        </label>
        <input type='text' value='{{ tech.name }}' size=8>
        <input type='text' value='{{ tech.link }}'>
      </div>
      <!-- <a class='pure-button pure-button-tech' target='_blank' href='{{ tech.link }}' ng-repeat='tech in project.technologies'>{{ tech.name }}</a>-->
    </div>
    <input type='submit' class='pure-button pure-button-primary project-save-button' ng-class='{success: updateSuccess}' value='save'>
  </div>
</form>
<div ng-if='error' class='center error-message-container'>
  <div class='error-message'>{{ error }}</div>
</div>