<div ng-if='projects' class='projects'>
  <h2>Featured</h2>
  <div class='projects-other'>
    <div class='project' ng-repeat='project in projects | filter:{displayType: "featured"}'>
      <div class='project-title'>{{ project.title }}</div>
      <div class='project-desc'>{{ project.desc }}</div>
    </div>
  </div>
  <h2>Main<i class='icon-plus-sign project-add'></i></h2>
  <div class='pure-g-r projects-other'>
    <div class='pure-u-1-2' ng-repeat='project in projects | filter:{displayType: "main"}'>
      <div class='project'>
        <div class='project-title'>{{ project.title }}</div>
        <div class='project-desc'>{{ project.desc }}</div>
      </div>
    </div>
  </div>
  <h2>Other</h2>
  <div class='pure-g-r projects-other'>
    <div class='pure-u-1-3' auto-scroll-to="{{fromProject === project.title}}" ng-repeat='project in projects | filter:{displayType: "other"}'>
      <div class='project' ng-click='go("/project/{{ project.title }}", "{{ project.title }}")'>
        <div class='project-title'>{{ project.title }}</div>
        <div class='project-desc'>{{ project.desc }}</div>
      </div>
    </div>
  </div>
</div>

<div ng-if='error' class='center error-message-container'>
  <div class='error-message'>{{ error }}</div>
</div>