<a href='#/' class='pure-button pure-button-primary home-button'>home</a>
<div ng-cloack class='projects' sortable>
  <h2 class='projects-section-title'>Featured</h2>
  <button class='pure-button pure-button-small pure-button-success' ng-click='newProject("featured")'>add</button>
  <br>
  <div class='projects-other projects-feature-edit' type='featured'>
    <div class='project' ng-repeat='project in projects | filter:{displayType: "featured"} | orderBy:"index"' _id='{{ project.id }}'>
      <div class='project-info'>
        <div class='project-title'>{{ project.title }}</div>
        <div class='project-desc'>{{ project.desc || '&nbsp;' }}</div>
      </div>
      
      <button class='pure-button pure-button-small pure-button-success project-button' ng-click='edit(project)'>edit</button>
        <button class='pure-button pure-button-small pure-button-remove project-button' ng-click='remove(project)'>remove</button>
              
        <!-- causes expantion of div based on floated button size -->
        <div style="clear: right;"></div>
    </div>
  </div>
  <div class='place-holder' ng-if='!haveAny("featured")'>none</div>
  
  <h2 class='projects-section-title'>Main</h2>
  <button class='pure-button pure-button-small pure-button-success' ng-click='newProject("main")'>add</button>
  <br>
  <div class='projects-other projects-main-edit' type='main'>
    <div class='project' ng-repeat='project in projects | filter:{displayType: "main"} | orderBy:"index"' _id='{{ project.id }}'>
      <div class='project-info'>
        <div class='project-title'>{{ project.title }}</div>
        <div class='project-desc'>{{ project.desc || '&nbsp;' }}</div>
      </div>
      
      <button class='pure-button pure-button-small pure-button-success project-button' ng-click='edit(project)'>edit</button>
      <button class='pure-button pure-button-small pure-button-remove project-button' ng-click='remove(project)'>remove</button>
              
      <!-- causes expantion of div based on floated button size -->
      <div style="clear: right;"></div>
    </div>
  </div>
  <div class='place-holder' ng-if='!haveAny("main")'>none</div>
  
  <h2 class='projects-section-title'>Other</h2>
  <button class='pure-button pure-button-small pure-button-success' ng-click='newProject("other")'>add</button>
  <br>
  <div class='projects-other projects-other-edit' type='other'>
    <div class='project' ng-repeat='project in projects | filter:{displayType: "other"} | orderBy:"index"' _id='{{ project.id }}'>
      <div class='project-info'>
        <div class='project-title'>{{ project.title }}</div>
        <div class='project-desc'>{{ project.desc || '&nbsp;' }}</div>
      </div>
      
      <button class='pure-button pure-button-small pure-button-success project-button' ng-click='edit(project)'>edit</button>
      <button class='pure-button pure-button-small pure-button-remove project-button' ng-click='remove(project)'>remove</button>
      
      <!-- causes expantion of div based on floated button size -->
      <div style="clear: right;"></div>
    </div>
  </div>
  <div class='place-holder' ng-if='!haveAny("other")'>none</div>
  
</div>

<div ng-if='error' class='center error-message-container'>
  <div class='error-message'>{{ error }}</div>
</div>