<!--<ul class="menu">
  <li><a href="#/view1">view1</a></li>
  <li><a href="#/view2">view2</a></li>
</ul>

<div ng-view></div>

<div>Angular seed app: v<span app-version></span></div>
-->

<div class='center backdrop'>
  <div class='menu'>
    <img class='logo' alt='Z' src='https://gravatar.com/avatar/55dbeca986f875e1d1cb4d51e2fc42e4?s=150'>
    <h1 class='title'>Zolmeister</h1>
    <h3>Zoli Kahan</h3>
    <ul>
      <li>
        <i class='icon-github'></i><a>https://github.com/Zolmeister</a><br>
      </li>
      <li>
        <i class='icon-envelope'></i><a></a><br>
      </li>
      <i class='icon-linkedin-sign'></i>http://www.linkedin.com/profile/view?id=179271138<br>
      <i class='icon-rss'></i>zolmeister.com<br>
    </ul>

  </div>
</div>