<div class='center backdrop'>
  <div class='menu center-color'>
    <img class='pure-hidden-phone logo' alt='Z' src='https://gravatar.com/avatar/55dbeca986f875e1d1cb4d51e2fc42e4?s=150'>
    <h1 class='title'>Zolmeister</h1>
    <h3 class='name'>Zoli Kahan</h3>
    <div class='center links'>
      <div class='links1'>
        <div class='link'>
          <i class='icon-rss'></i>
          <a>http://zolmeister.com</a>
        </div>
        <div class='link'>
          <i class='icon-envelope'></i>
          <a>ane=mail@gmail.com</a>
        </div>
      </div>
      <div class='links2'>
        <div class='link'>
          <i class='icon-github'></i>
          <a>https://github.com/Zolmeister</a>
        </div>
        <div class='link'>
          <i class='icon-linkedin-sign'></i>
          <a>http://linkedin.com/in/zolmeister</a>
        </div>
      </div>
    </div>
  </div>
  
    <div ng-view class="flipper center-color"
         ng-class='{flip_left: pageTurn === "left" , flip_right: pageTurn === "right" }'></div>
</div>