<div class='center backdrop'>
  <div class='menu center-color' ng-controller='MenuCtrl'>
    <!--<img class='pure-hidden-phone logo' alt='Z' src='https://gravatar.com/avatar/55dbeca986f875e1d1cb4d51e2fc42e4?s=150'>-->
    <img class='pure-hidden-phone logo' alt='Z' gravatar-image='{{ decodeEmail(info.encodedEmail) }}'>
    <h1 class='title'>Zolmeister</h1>
    <h3 class='name'>{{ info.name }}</h3>
    <div class='center links'>
      <div class='links1'>
        <div class='link'>
          <i class='icon-rss'></i>
          <a linkify='{{ info.blogLink }}'></a>
        </div>
        <div class='link'>
          <i class='icon-envelope'></i>
          <a email-link='{{ decodeEmail(info.encodedEmail) }}'></a>
        </div>
      </div>
      <div class='links2'>
        <div class='link'>
          <i class='icon-github'></i>
          <a linkify='{{ info.gitHubLink }}'></a>
        </div>
        <div class='link'>
          <i class='icon-linkedin-sign'></i>
          <a linkify='{{ info.linkedInLink }}'></a>
        </div>
      </div>
    </div>
  </div>
  
    <div ng-view class="flipper center-color"
         ng-class='{flip_left: pageTurn === "left" , flip_right: pageTurn === "right" }'></div>
</div>