<div class='center backdrop'>
  
  <!-- top menu -->
  <div ng-include src='"partials/menu.html"'></div>
  
  <!-- main content -->
  <div ng-view class="flipper center-color ng-cloack"
       ng-class='{flip_left: pageTurn === "left" , flip_right: pageTurn === "right" }'></div>
</div>