/* app css stylesheet */

/* background */
body {
  background: #2c3e50;
}
.center {
  margin: 0 auto;
}
.backdrop {
  max-width: 1000px;
  position: relative;
  min-height: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.center-color {
  background: #ecf0f1;
}


/* title bar */
.title {
  font-size: 3em;
  margin-bottom: 0;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
}
.name {
  margin: 10px auto;  
}
.links {
  margin: 0 auto;
  padding-left: 60px;
  text-align:left;
  display: inline-block;
}
.links > div {
  display: inline-block;
}
.links1 {
  width: 200px;
}
.links2 {
  width: 250px;
}
.link {
  padding-top: 5px;
}

/* exceptions */
.error-message {
  border-radius: 6px;
  margin: 20px;
  background: #c0392b;
  padding: 20px;
  color: #ecf0f1;
  font-variant: small-caps;
}

/* base project animation */
.flipper {
    position: absolute;
    width: 100%;
}
.backdrop {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}

/* projects */
.projects {
  padding: 1%;
}
.project {
  margin: 10px;
  position: relative;
}
.project-image {
  border-radius: 6px;
  height: auto;
  width: 100%;
  display: block;
}
/* image overlay */
.overlay {
  opacity: 0;
  position:absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background: rgba(41, 128, 185, 0.7);
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
  text-align: left;
  color: #ecf0f1;
  font-variant: small-caps;
  cursor: pointer;
}
.overlay .project-title {
  font-size: 4em;
}
.overlay .project-desc {
  font-size: 2em;
}
.overlay > div {
  padding: 5% 10% 0 10%;
}
.overlay:hover, .overlay:active {
  opacity: 1;
  transition: opacity 0.5s;
}
@media all and (max-width: 780px) {
  .overlay {
    font-size: 0.9em;
  }
}
@media all and (max-width: 520px) {
  .overlay {
    font-size: 0.8em;
  }
}
@media all and (max-width: 380px) {
  .overlay {
    font-size: 0.7em;
  }
}

/* non-image projects */
.projects-other .project {
  padding: 10px;
  background: #34495e;
  color: #ecf0f1;
  border-radius: 6px;
  font-variant: small-caps;
  text-align: left;
  transition: background 0.5s;
  cursor: pointer;
}
.projects-other .project-title {
  font-size: 1.5em;
}
.projects-other .project:hover {
  background: #2980b9;
  transition: background 0.5s;
}


/*
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
*/