/* app css stylesheet */

::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

/* background */
body {
  background: #222;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.center {
  margin: 0 auto;
}
.backdrop {
  max-width: 1000px;
  position: relative;
  min-height: 100%;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 0 10px;
  border-radius: 3px;
}
.center-color {
  background: #ecf0f1;
}

input, textarea {
  border: 2px solid #bdc3c7;
  color: #34495e;
  border-radius: 3px;
  padding: 4px;
  margin: 5px;
  max-width: 100%;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: #2980b9;
}

.pure-button-remove {
  background: #e74c3c;
  color: #ecf0f1;
}

.pure-button-remove-small {
  padding: .25em .5em;
}

/* title bar */
.menu {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.menu-save-button-container {
  margin-bottom: 10px;
}
.menu-save-button {
  margin: 20px auto;
}
.success {
  background: #27ae60;
}
.title {
  font-size: 4em;
  text-shadow: 1px 2px 4px #ecf0f1, 0 0 0 #000, 1px 2px 4px #ecf0f1;
  color: rgba(34,34,34, 0.8);
  margin-bottom: 0;
}
.editing .title {
  margin: .67em auto 0 auto;
  display: block;
  max-width: 50%;
  min-width: 300px;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 2px;
}
.name {
  margin: 0px 10px;  
  font-weight: 400;
  display: inline-block;
}
.editing .name {
  margin: 10px auto;
  display: block;
}
.links {
  margin: 0 auto;
  padding-left: 60px;
  text-align:left;
  display: inline-block;
  font-weight: 300;
}
.links > div {
  display: inline-block;
}
.links1 {
  width: 200px;
}
.links2 {
  width: 250px;
}
.editing .links1 {
  width: 250px;
}
.link {
  padding-top: 5px;
}

/* exceptions */
.error-message {
  border-radius: 3px;
  margin: 20px;
  background: #c0392b;
  padding: 20px;
  color: #ecf0f1;
}

/* base project animation */
.flipper {
  position: absolute;
  width: 100%;
  box-shadow: 0 0 10px;
  z-index: -1;
}
.backdrop {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}

.login-form {
  padding: 20px;
}